---

- name: get current bitcoin version
  command: bitcoin-cli -version
  register: bitcoin_version_current
  ignore_errors: yes

- include: compile.yml
  when: bitcoin_version_current.rc != 0 or not bitcoin_version_current.stdout | search(bitcoin_version_string_match)

- include: setup.yml

- name: check if munin-node is installed
  command: dpkg -L munin-node
  register: bitcoin_munin_node_check
  ignore_errors: yes

- include: munin-plugin.yml
  when: bitcoin_munin_node_check.rc == 0
